* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #cecece url('../images/bg.png');
}

@import "form";
@import "modal";
@import "grid";

@import "login";
@import "main";
@import "manager";
@import "product_admin";
@import "product_customer";

html, body {
  height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  position: relative;
}

header {
  width: 100%;
  height: 50px;

  //background: linear-gradient(#fff, $primary-darken);
  background-color: $primary-darken;
}

.container {
  height: 100%;
  padding-bottom: 40px;

  background-color: rgba(0, 0, 0, 0.35);
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 30px;

  //background: linear-gradient(#fff, $primary-darken);
  color: #fff;
  background-color: $primary-darken;
}

.filter {
  text-align: right;
}

.card {
  width: 100%;
  height: auto;

  background: #fff url("../images/bg-1.png") repeat;

  .card-header {
    position: relative;
    img {
      width: 100%;
    }
  }

  .card-content, .card-footer {
    position: relative;
    padding: 10px 20px;
  }

  .card-content {
    .line {
      margin: 10px 0;
      border-bottom: 2px solid #3fc5cb;
    }
  }

  .card-footer {
    text-align: right;
  }

  .stars-legend {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 26px;
    padding: 4px 20px;

    background-color: rgba(0, 0, 0, 0.5);

    .star {
      width: 16px;
    }
  }

  .price {
    margin-top: 8px;
    float: left;
    font-weight: bold;

    &::first-letter {
      color: $primary-darken;
    }
  }
}