@import "buttons";
@import "form";
@import "modal";
@import "grid";
@import "login";
@import "main";
@import "product";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
}

html, body {
  height: 100%;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  //min-height: 100%;
  position: relative;

  background: #cecece url('../images/bg.png');
}

header {
  display: table-row;

  width: 100%;
  height: 50px;

  background: #449587; /* Old browsers */
  background: -moz-linear-gradient(top, #449587 0%, #2a8676 91%, #6b647f 93%, #5cba96 95%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #449587 0%,#2a8676 91%,#6b647f 93%,#5cba96 95%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #449587 0%,#2a8676 91%,#6b647f 93%,#5cba96 95%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .logo {
    position: relative;
    width: 30px;
    top: calc(50% - 15px);
  }

  .user-info {
    position: relative;
    top: calc(50% - 12px);

    .user-name {
      font-size: 15px;

      span {
        font-style: italic;
      }
    }
  }

  .container {
    //padding-top: 13px;
    height: 50px;

    i {
      color: #fff;
    }

    li {
      & > span {
        display: inline-block;
        margin-top: -7px;
        vertical-align: top;
      }

      color: #fff;
      display: inline-block;
      list-style-type: none;
      margin-left: 10px;
    }
  }
}

main {
  display: table-row;
  height: 100%;

  .container {
    height: calc(100% - 50px);
    padding: 0 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

footer {
  display: table-row;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;

  //background: linear-gradient(#fff, $primary-darken);
  color: #fff;
  background-color: $primary-darken;

  text-align: center;

  span {
    display: inline-block;
    margin-top: 8px;

    & > span {
      text-decoration: underline;
    }
  }
}

nav {
  color: #fff;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.blur {
  filter: blur(1px);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

//Texts
.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: $large-size;
  font-weight: bold;
}

.medium-text {
  font-size: $medium-size;
}

.small-text {
  font-size: $small-size;
}