@import "buttons";
@import "form";
@import "modal";
@import "grid";
@import "login";
@import "main";
@import "product";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #cecece url('../images/bg.png');
}

html, body {
  height: 100%;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  //min-height: 100%;
  position: relative;
}

header {
  display: table-row;

  width: 100%;
  height: 50px;

  //background: linear-gradient(#fff, $primary-darken);
  background-color: $primary-darken;
}

main {
  display: table-row;
  height: 100%;

  .container {
    height: calc(100% - 50px);
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

footer {
  display: table-row;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;

  //background: linear-gradient(#fff, $primary-darken);
  color: #fff;
  background-color: $primary-darken;

  text-align: center;

  span {
    display: inline-block;
    margin-top: 8px;

    & > span {
      text-decoration: underline;
    }
  }
}

nav {
  color: #fff;

  a {
    cursor: pointer;
    text-decoration: underline;
  }

  .section {
    float: right;

    span {
      font-weight: bold;
    }
  }
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}