.login-container {
  display: block;

  .modal-content {
    width: 570px;
    //height: 400px;
  }

  .modal-body {
    padding: 25px 60px 0;
  }

  .modal-footer {
    padding: 0 60px 30px 60px;
  }

  label {
    display: inline-block;
    margin-bottom: 10px;

    font-size: 18px;
  }

  .input-container {
    max-width: 450px;
    margin-bottom: 20px;
  }
}