.login-container {
  display: block;

  .modal-content {
    width: 350px;
  }

  .modal-body {
    padding-bottom: 0;
  }

  label {
    display: inline-block;
    margin: 7px 0 5px 0;
  }

  .input-container {
    max-width: 350px;
  }
}