@import "variables";

.product-card {
  .row {
    margin-bottom: 0;
  }

  .card-content, .card-footer {
    padding: 0;
  }

  .col {
    padding: 20px;
  }

  .product-content {
    padding-top: 0;
  }

  @media #{$large-and-up} {
    .col {
      padding: 10px;
    }

    .product-content {
      min-height: 321px;
      height: auto;
    }

    .card-content {
      min-height: 255px;
      height: auto;
    }

    .card-footer {
      padding-top: 10px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .card-footer {
    .price {
      margin: 0;
    }

    .count-product {
      float: left;
      margin-top: 5px;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.5);
      font-weight: bold;

      .sold {
        color: $invalid-color;
      }
    }
  }

  p {
    span {
      color: $primary;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.edit-modal {
  .row {
    margin: 0;
  }

  .modal-body {
    padding: 10px;
  }

  .modal-footer {
    padding: 20px;
  }

  p {
    margin: 0;

    &.label {
      font-size: 17px;
      margin-top: 15px;
      margin-bottom: 5px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}