<div *ngIf="product" class="card product-card">
  <div class="row flex-row">
    <div class="col s12 m6">
      <div class="card-header image-slider-content">
        <img [src]="product.image">
        <div class="stars-legend">
          <app-rating-stars [rating]="product.rating"></app-rating-stars>
        </div>
      </div>
    </div>
    <div class="col s12 m6 product-content">
      <div class="card-content">
        <div class="large-text">
          {{product.name}}
        </div>
        <div class="line"></div>
        <p>
          {{product.description}}
        </p>
        <p>
          You can <span>add 5 more</span>.
          You can also <span onclick="openModal('adminPopup')">edit</span> details or
          <span onclick="openModal('deletePopup')">delete</span> them.
        </p>
      </div>
      <div class="card-footer">
        <span class="price large-text">${{product.cost}}</span>
        <span class="count-product medium-text">&nbsp;({{product.soldCount}} items left)</span>
        <button class="btn regular primary" onclick="openModal('successPopup')">Buy</button>
      </div>
    </div>
  </div>
</div>
