<div *ngIf="product" class="card">
  <div class="card-header">
    <img [src]="product.image"
         [default]="getNotFoundImage()">
    <div class="stars-legend">
      <app-rating-stars [rating]="product.rating"></app-rating-stars>
    </div>
  </div>
  <div class="card-content">
    <h4>{{product.name}}</h4>
    <div class="line"></div>
    <p>
      {{product.description}}
    </p>
  </div>
  <div class="card-footer">
    <span class="price">${{product.cost}}</span>
    <button class="btn regular primary">Delete</button>
    <button class="btn regular primary" (click)="showDetails()">Show more</button>
  </div>
</div>
