<div class="row no-margin">
  <div class="col s12">
    <nav class="medium-text">
      <a class="bold-text">Back</a>
      <span class="right">Category: <span class="bold-text">Man / Active wear</span></span>
    </nav>
  </div>
</div>
<div class="row flex-row">
  <div *ngFor="let i of [0,1,2]" class="col s12">
    <app-product-detail-card></app-product-detail-card>
  </div>
</div>
<div class="row review-container">
  <div class="col s12 align-center no-padding">
    <div>There is no user reviews for now.</div>
    <div id="inviteToReview">Would you like to <span class="review-link toggle-review-link">share your thoughts with other customers?</span>
    </div>
    <div id="reviewInfo">Share your thoughts with other customers:</div>
  </div>
  <div id="reviewContainer" class="col s12">
    <h2>Add review:</h2>
    <div class="row review">
      <div class="author">
        By <span id="authorName"></span> <span id="currentDate"></span>
      </div>
      <div id="ratingReview" class="rating">
        <div class="stars"></div>
      </div>

      <div class="avatar">
        <img id="avatarImg" src="./images/empty_image.PNG">
      </div>
      <div id="textReview" class="review-text">
      </div>

      <div class="edit-review-title">Edit your review</div>
    </div>
    <div class="row review-form">
      <div class="col s3">
        <label for="author">Enter your name:</label>
        <p>
          <input id="author" type="text">
        </p>

        <label for="avatar">Choose your avatar:</label>
        <p class="input-container input-container-image">
          <span>Select image</span>
          <input id="avatar" type="file" accept="image/*">
        </p>
      </div>
      <div class="col s9">
        <label for="review">Write your review:</label>
        <div id="rating" class="right">
          Rate product:
          <div class="stars">
            <div class="star grey-star"></div>
            <div class="star grey-star"></div>
            <div class="star grey-star"></div>
            <div class="star grey-star"></div>
            <div class="star grey-star"></div>
          </div>
        </div>
        <p>
          <textarea id="review"></textarea>
        </p>

        <div class="left">
          <button id="boldBtn" class="btn secondary regular">Bold</button>
          <button id="emphasizeBtn" class="btn secondary regular">Emphasize</button>
          <button id="quoteBtn" class="btn secondary regular">Quote</button>
        </div>

        <div class="right">
          <button id="cancelBtn" class="btn secondary regular">Cancel</button>
          <button id="addBtn" class="btn primary regular">Add review</button>
        </div>
      </div>
    </div>
  </div>
</div>
