<div class="card">
  <div class="card-header">
    <img src="./assets/images/products/1.png">
    <div class="stars-legend">
      <img class="star" src="./assets/images/stars/full-star.png">
      <img class="star" src="./assets/images/stars/full-star.png">
      <img class="star" src="./assets/images/stars/full-star.png">
      <img class="star" src="./assets/images/stars/full-star.png">
      <img class="star" src="./assets/images/stars/star.png">
    </div>
  </div>
  <div class="card-content">
    <h4>Active Coat Lorem 2 Active Coat Lorem 2 Active Coat Lorem 2</h4>
    <div class="line"></div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Adipisci aperiam, libero aliquid architecto ad quis
      maiores sit nulla officiis.
    </p>
  </div>
  <div class="card-footer">
    <span class="price">$7800.00</span>
    <button class="btn regular primary">Show more</button>
  </div>
</div>
