<div *ngIf="product" class="row no-margin">
  <div class="col s12">
    <nav class="medium-text">
      <a class="bold-text">Back</a>
    </nav>
  </div>
  <div class="col s12">
    <div class="card edit">
      <div class="row">
        <div class="col 12">
          {{product | json}}
        </div>
        <form #dirForm (ngSubmit)="action()">
          <div class="col s12 m6">
            <label for="name">Name:</label>
            <p>
              <input id="name"
                     name="name" [(ngModel)]="product.name"
                     required>
            </p>
            <label>Category:</label>
            <div class="input-container">
              <select [(ngModel)]="product.categoryId"
                      name="categoryId" class="green">
                <option *ngFor="let category of categories | async"
                        value="{{category.id}}">
                  {{category.name}}
                </option>
              </select>
            </div>
            <label>Gender:</label>
            <p>
              <input [(ngModel)]="product.gender" value="Men"
                     id="radioMen" type="radio" name="gender">
              <label for="radioMen">Men</label>
              <input [(ngModel)]="product.gender" value="Woman"
                     id="radioWoman" type="radio" name="gender">
              <label for="radioWoman">Woman</label>
              <input [(ngModel)]="product.gender" value="Unisex"
                     id="radioUnisex" type="radio" name="gender" checked>
              <label for="radioUnisex">Unisex</label>
            </p>
            <label for="description">Description:</label>
            <p>
              <textarea [(ngModel)]="product.description" id="description" name="description"></textarea>
            </p>
          </div>
          <div class="col s12 m6">
            <label for="image">Link to image:</label>
            <p>
              <input [(ngModel)]="product.image" name="image" id="image" type="text">
            </p>
            <p>
              <!--<img [src]="product.image">-->
            </p>
            <label for="cost">Cost:</label>
            <p>
              <input id="cost"
                     type="number"
                     [(ngModel)]="product.cost"
                     name="cost"
                     (change)="validateCost()"
                     required>
            </p>
            <label for="rating">Rating:</label>
            <div class="input-container">
              <select id="rating"
                      [(ngModel)]="product.rating"
                      name="rating"
                      required>
                <option *ngFor="let i of [0,1,2,3,4]" value="{{i}}">{{i}}</option>
              </select>
            </div>
          </div>
          <div class="col s12">
            <button class="btn secondary big">Cancel</button>
            <button class="btn primary big" (click)="action()">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
