@import "../../scss/_variables.scss";

footer {
  display: table-row;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;

  //background: linear-gradient(#fff, $primary-darken);
  color: #fff;
  background-color: $primary-darken;

  text-align: center;

  span {
    display: inline-block;
    margin-top: 8px;

    & > span {
      text-decoration: underline;
    }
  }
}
