<div class="filter-container">
  <div class="right">
    <div class="input-container">
      <input class="input-filter" type="text" placeholder="Filter by text...">
    </div>
  </div>
  <div class="btn-container">
    <button (click)="toggleFilter()" class="btn primary regular">
      Filter options
    </button>
  </div>
  <div *ngIf="canSeeFilter" class="filter">
    <div class="row">
      <div *ngIf="filterParams" class="col s12">
        {{filterParams | json}}
      </div>
    </div>
    <div class="row">
      <div class="col s12 m3">
        <label>Available:</label>
        <p>
          <input [(ngModel)]="filterParams.isAvailable"
                 id="checkIsAvailable" type="checkbox">
          <label for="checkIsAvailable">Available only</label>
        </p>
      </div>
      <div class="col s12 m5">
        <label>Gender:</label>
        <p>
          <input [(ngModel)]="filterParams.gender" value="Men"
                 id="radioMen" type="radio" name="selector">
          <label for="radioMen">Men</label>
          <input [(ngModel)]="filterParams.gender" value="Woman"
                 id="radioWoman" type="radio" name="selector">
          <label for="radioWoman">Woman</label>
          <input [(ngModel)]="filterParams.gender" value="Unisex"
                 id="radioUnisex" type="radio" name="selector" checked>
          <label for="radioUnisex">Unisex</label>
        </p>
      </div>
      <div class="col s12 m4">
        <label>Category:</label>
        <div class="input-container">
          <select [(ngModel)]="filterParams.category" class="green">
            <option *ngFor="let category of categories | async"
                    value="{{category.id}}">{{category.name}}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <label>Rating:</label>
        <div class="input-container">
          <input [(ngModel)]="filterParams.rating" type="number" placeholder="Rating">
        </div>
      </div>
      <div class="col s12 m4 no-border">
        <label>Price:</label>
        <div class="input-container">
          <input type="number" [(ngModel)]="filterParams.price.from" placeholder="From">
          <input type="number" [(ngModel)]="filterParams.price.to" placeholder="To">
        </div>
      </div>
      <div class="col s12 m4 align-center">
        <button class="btn regular primary">Apply</button>
        <button class="btn regular primary" (click)="toggleFilter()">Cancel</button>
      </div>
    </div>
    <div class="angle">
    </div>
  </div>
</div>
