/* You can add global styles to this file, and also import other style files */
@import "/scss/_variables.scss";
@import "/scss/_buttons.scss";
@import "/scss/_form.scss";
@import "/scss/_grid.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
}

html, body {
  height: 100%;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  //min-height: 100%;
  position: relative;

  background: #cecece url('/assets/images/bg.png');
}

main {
  display: table-row;
  height: 100%;

  .container {
    height: calc(100% - 50px);
    padding: 0 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

nav {
  color: #fff;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.blur {
  filter: blur(1px);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

//Texts
.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: $large-size;
  font-weight: bold;
}

.medium-text {
  font-size: $medium-size;
}

.small-text {
  font-size: $small-size;
}

.no-display {
  display: none;
}

///=========
//Main

.row.flex-row {
  display: flex;
  flex-wrap: wrap;

  & > .col {
    flex-direction: column;
    display: flex;
  }
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: #fff url("/assets/images/bg-1.png") repeat;

  .card-header {
    position: relative;
    img {
      width: 100%;
    }
  }

  .card-content, .card-footer {
    position: relative;
    padding: 10px 20px;
  }

  .card-content {
    flex: 1;

    h4 {
      font-size: 18px;
    }

    p {
      font-size: $small-size;
    }

    .line {
      margin: 15px 0;
      border-bottom: 2px solid #3fc5cb;
    }
  }

  .card-footer {
    text-align: right;
    font-size: $large-size;

    .price {
      font-weight: bold;
    }
  }

  .stars-legend {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 26px;
    padding: 4px 20px;

    background-color: rgba(0, 0, 0, 0.5);

    .star {
      width: 16px;
    }
  }

  .price {
    margin-top: 5px;
    float: left;

    &::first-letter {
      color: $primary-darken;
    }
  }
}

.product-card {
  .row {
    margin-bottom: 0;
  }

  .card-content, .card-footer {
    padding: 0;
  }

  .col {
    padding: 20px;
  }

  .card-content {
    p {
      font-size: $medium-size;
    }
  }

  @media #{$medium-and-down} {
    .product-content {
      padding-top: 0;
    }

    .card-content {
      padding-bottom: 25px;
    }
  }

  @media #{$large-and-up} {
    .product-content {
      padding-left: 0;
    }

    .card-footer {
      padding-top: 20px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);
    }
  }

  .card-footer {
    .price {
      margin: 0;
    }

    .count-product {
      float: left;
      margin-top: 7px;

      .sold {
        color: $invalid-color;
      }
    }
  }

  p {
    span {
      color: $link-color;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

.delete-modal {
  .modal-body {
    padding: 45px 160px 40px;
  }

  .modal-footer {
    padding: 0 30px 30px;
  }
}

.success-modal {
  .modal-body {
    padding: 50px 0 45px 0;
  }

  .modal-footer {
    padding: 0px 30px 30px;
  }
}

.edit-modal {
  .row {
    margin: 0;
  }

  .modal-body {
    padding: 20px 30px 10px;

    p {
      margin: 0;

      img {
        margin-top: 15px;
      }
    }

    label {
      display: inline-block;
      font-size: 17px;
      margin-top: 15px;
      margin-bottom: 5px;

      &:first-child {
        margin-top: 0;
      }
    }

    input, textarea, select, .input-container {
      max-width: 100%;
    }
  }

  .modal-footer {
    padding: 20px 20px 30px;
  }
}

.error-message {
  color: #ff0000;
  text-align: center;
}

