/* You can add global styles to this file, and also import other style files */
@import "/scss/_variables.scss";

@import "/scss/_buttons.scss";
@import "/scss/_form.scss";
@import "/scss/_modal.scss";
@import "/scss/_grid.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

body {
}

html, body {
  height: 100%;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.wrapper {
  display: table;
  height: 100%;
  width: 100%;
  //min-height: 100%;
  position: relative;

  background: #cecece url('/assets/images/bg.png');
}

main {
  display: table-row;
  height: 100%;

  .container {
    height: calc(100% - 50px);
    padding: 0 20px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.35);
  }
}

nav {
  color: #fff;

  a {
    cursor: pointer;
    text-decoration: underline;
  }
}

.blur {
  filter: blur(1px);
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-border {
  border: none !important;
}

//Texts
.bold-text {
  font-weight: bold;
}

.large-text {
  font-size: $large-size;
  font-weight: bold;
}

.medium-text {
  font-size: $medium-size;
}

.small-text {
  font-size: $small-size;
}

//For js task (maybe move to another scss file)
.image-slider-content {
  .image-slider {
    position: relative;
    overflow: hidden;
  }

  #canvasSlider {
    width: 100%;
  }

  .slider-arrow {
    position: absolute;
    top: calc(50% - 20px);

    width: 40px;
    height: 40px;

    z-index: 10;

    cursor: pointer;

    background: url("/assets/images/arrow.svg") no-repeat;

    &#setNextImage {
      right: 0;
      transform: rotate(180deg);
    }
  }

  #imageDescription {
    width: 100%;

    position: absolute;
    bottom: 45px;
    text-align: center;
    color: #fff;

    font-size: 14px;
    font-style: italic;
    line-height: 19px;

    z-index: 100;
  }

  #canvasZoomSlider {
    position: absolute;
    border: 2px solid #FFCC00;

    top: 0;
    right: -210px;

    z-index: 100;

    display: none;
  }
}

.review-container {
  color: #fff;

  span.review-link {
    color: $yellow;
    text-decoration: underline;

    cursor: pointer;
  }

  .review {
    background-color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0;
    padding: 15px;

    position: relative;

    .author {
      float: left;
      width: calc(100% - 100px);

      #authorName {
        color: $yellow;
        font-style: italic;
      }
    }

    .rating {
      float: right;
      width: 100px;
    }

    .avatar {
      float: left;
      width: 115px;
      margin-top: 15px;

      img {
        width: 100px;
        height: 100px;

        border: 2px solid $yellow;
      }
    }

    .review-text {
      white-space: pre;
      float: right;
      width: calc(100% - 115px);

      margin-top: 15px;

      &:after {
        clear: both;
      }

      b, i {
        color: $yellow;
      }

      q {
        display: block;
        font-size: 24px;
        quotes: "\201C" "\201e";

        &:before, &:after {
          font-weight: bold;
          color: $yellow;
          font-size: 45px;
        }

        &:before {
          content: open-quote;
          vertical-align: middle;
        }

        &:after {
          content: close-quote;
        }
      }
    }

    .edit-review-title {
      position: absolute;
      bottom: -20px;
      left: calc(50% - 90px);

      width: 180px;
      height: 40px;
      color: #000;
      text-align: center;
      background-color: #fff;
      border: 3px solid #3FC5CB;
      border-radius: 15px;
      padding-top: 7px;

      text-transform: uppercase;
    }
  }

  .review-form {
    padding: 20px;
    background: #eee url("/assets/images/bg-2.png") repeat;
    border: 3px solid #3FC5CB;
    color: #000;

    p {
      margin: 5px 0;
    }

    textarea {
      max-width: 100%;
    }

    //input, textarea {
    //  box-shadow: 0 0 0 3px $secondary;
    //}
  }
}

//Replace to form components ???
.input-container.input-container-image {
  width: 100%;
  height: 135px;

  border-radius: 25px;

  background: #fff url(/assets/images/upload-image.PNG) no-repeat 85% 50%;
  background-size: 100px 100px;

  span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-style: italic;
    line-height: 19px;

    position: absolute;
    top: calc(50% - 14px);
    margin-left: 30px;
  }

  input {
    width: 100%;
    height: 135px;

    margin: 0;
    padding: 0;

    opacity: 0;
    cursor: pointer;
    border: none;
  }
}

.no-display {
  display: none;
}

///=========
//Main

.row.flex-row {
  display: flex;
  flex-wrap: wrap;

  & > .col {
    flex-direction: column;
    display: flex;
  }
}

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: #fff url("/assets/images/bg-1.png") repeat;

  .card-header {
    position: relative;
    img {
      width: 100%;
    }
  }

  .card-content, .card-footer {
    position: relative;
    padding: 10px 20px;
  }

  .card-content {
    flex: 1;

    h4 {
      font-size: 18px;
    }

    p {
      font-size: $small-size;
    }

    .line {
      margin: 15px 0;
      border-bottom: 2px solid #3fc5cb;
    }
  }

  .card-footer {
    text-align: right;
    font-size: $large-size;

    .price {
      font-weight: bold;
    }
  }

  .stars-legend {
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 26px;
    padding: 4px 20px;

    background-color: rgba(0, 0, 0, 0.5);

    .star {
      width: 16px;
    }
  }

  .price {
    margin-top: 5px;
    float: left;

    &::first-letter {
      color: $primary-darken;
    }
  }
}

