<div class="filter-container">
  <div class="right">
    <div class="input-container">
      <input
        class="input-filter"
        [(ngModel)]="filterParams.name"
        (ngModelChange)="filterByName()"
        placeholder="Filter by text...">
    </div>
  </div>
  <div class="btn-container">
    <button (click)="toggleFilter()" class="btn primary regular">
      Filter options
    </button>
  </div>
  <div *ngIf="canSeeFilter" class="filter">
    <div class="row">
      <div class="col s12 m3">
        <label>Available:</label>
        <p>
          <input id="isAvailable"
                 type="checkbox"
                 [(ngModel)]="filterParams.isAvailable">
          <label for="isAvailable">Available only</label>
        </p>
      </div>
      <div class="col s12 m5">
        <label>Gender:</label>
        <p>
          <input [(ngModel)]="filterParams.gender" value="Man"
                 id="radioMen" type="radio" name="selector">
          <label for="radioMen">Man</label>
          <input [(ngModel)]="filterParams.gender" value="Woman"
                 id="radioWoman" type="radio" name="selector">
          <label for="radioWoman">Woman</label>
          <input [(ngModel)]="filterParams.gender" value="Unisex"
                 id="radioUnisex" type="radio" name="selector">
          <label for="radioUnisex">Unisex</label>
        </p>
      </div>
      <div class="col s12 m4">
        <label>Category:</label>
        <div class="input-container">
          <select [(ngModel)]="filterParams.categoryId" class="green">
            <option *ngFor="let category of categories | async"
                    value="{{category.id}}">{{category.name}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m4">
        <label for="rating">Rating:</label>
        <div class="input-container">
          <input id="rating" name="rating"
                 type="number"
                 [(ngModel)]="filterParams.rating"
                 placeholder="Rating"
                 min="1" max="5"
                 (change)="validateRating()">
        </div>
      </div>
      <div class="col s12 m4 no-border">
        <label>Price:</label>
        <div class="input-container">
          <input type="number"
                 [(ngModel)]="filterParams.price.from"
                 placeholder="From"
                 (change)="validatePrice()">
          <input type="number"
                 [(ngModel)]="filterParams.price.to"
                 placeholder="To"
                 (change)="validatePrice()">
        </div>
      </div>
      <div class="col s12 m4 align-center">
        <button class="btn regular primary" (click)="filter()">Apply</button>
        <button class="btn regular primary" (click)="initFilter()">Clear</button>
      </div>
    </div>
    <div class="angle">
    </div>
  </div>
</div>
