<div class="row no-margin">
  <div class="col l4">
    <button *ngIf="hasAdminAccess()" class="btn regular primary"
            (click)="toEditMode()">
      Add product
    </button>
  </div>
  <app-filter class="col s12 m12 l8"></app-filter>
</div>
<div class="card-container row flex-row">
  <div *ngFor="let product of products | async" class="col s12 m6 l4">
    <app-product-card [product]="product"
                      [hasAdminAccess]="hasAdminAccess()"
                      (detailsEventEmitter)="toProductDetails($event)"></app-product-card>
  </div>
</div>
