@import "./_variables.scss";

button:focus {
  outline: 0;
}

/*Button*/
.btn {
  width: auto;

  //margin: 10px;

  border: 0;
  border-radius: 5px;

  color: #fff;
  font-weight: normal;

  cursor: pointer;

  &:disabled {
    cursor: auto;
    opacity: .5;
  }

  &.primary {
    background: linear-gradient($primary, $primary-darken);

    &:active, &.active {
      background: linear-gradient($primary-darken, $primary);
    }
  }

  &.secondary {
    background: linear-gradient($secondary, $secondary-darken);

    &:active, &.active {
      background: linear-gradient($secondary-darken, $secondary);
    }
  }

  &.big {
    min-width: 170px;
    padding: 15px 50px;

    font-size: 18px;
    font-family: $font-family-pt-sans-caption;
    font-weight: bold;
  }

  &.regular {
    min-width: 120px;
    padding: 10px 15px;

    font-weight: lighter;
    font-size: 14px;
  }
}
