<div *ngIf="product" class="row no-margin">
  <div class="col s12">
    <nav class="medium-text">
      <!--<a class="bold-text">Back</a>-->
      <span class="right">Category: <span class="bold-text">{{product.gender}} / {{(getCategoryById(product.categoryId) | async).name}}</span></span>
    </nav>
  </div>
  <div class="col s12"> <!-- //row-flex ???-->
    <div class="card product-card">
      <div class="row flex-row">
        <div class="col s12 m6">
          <div class="card-header image-slider-content">
            <img [src]="product.image" [default]="getNotFoundImage()">
            <div class="stars-legend">
              <app-rating-stars [rating]="product.rating"></app-rating-stars>
            </div>
          </div>
        </div>
        <div class="col s12 m6 product-content">
          <div class="card-content">
            <div class="large-text">
              {{product.name}}
            </div>
            <div class="line"></div>
            <p>
              {{product.description}}
            </p>
            <p *ngIf="hasAdminAccess()">
              You can also <span (click)="toEditMode()">edit</span> details or
              <span (click)="deleteProduct(product)">delete</span> them.
            </p>
          </div>
          <div class="card-footer">
            <span class="price large-text">${{product.cost}}</span>
            <span *ngIf="product.soldCount > 0" class="count-product medium-text">&nbsp;({{product.soldCount}} items left)</span>
            <span *ngIf="product.soldCount === 0" class="count-product medium-text">(<span class="sold">sold out</span>)</span>
            <button class="btn regular primary"
                    [disabled]="product.soldCount === 0"
                    (click)="buyProduct()">Buy
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
